@import "tailwindcss";
*{
  transition: .5s;
}

.text_primary{
  color: #181E4B;
}
.text_secondary{
  color: #212832;
}
.text_third{
  color: #DF6951;
}
.text_fourth{
color: #5E6282;
}

.bg_blur-effect{
  background-color: #D5AEE4;
}

.card:hover .hoverEffect
{
  transform: translate(-10px, 10px);
  opacity: 1;
}

.shadow{
  box-shadow: 0px 60px 60px rgba(0, 0, 0, 0.1);
}

.bg-gradiant{
  background: linear-gradient(to bottom, #FF946D, #FF7D68 );
}